{% extends "base.html" %}

{% block title %}List page{% endblock %}
{% block content %}
<br><br>
<div class="list_title">
    <h3>{{l.name}}</h3>
</div>
<div class="main">
<form action="#" method="post">
        {% csrf_token %}
        <ul>
        {% for item in l.item_set.all %}
            {% if item.complete == False %}
            <li>
               <input type="checkbox" name="c{{item.id}}" id="c{{item.id}}" value="clicked"> <label for="c{{item.id}}">{{item.text}}</label>
            </li>
            {% else %}
            <li>
                <input type="checkbox" name="c{{item.id}}" value="clicked" checked id="c{{item.id}}"> <label for="c{{item.id}}" class="checked">{{item.text}}</label>
             </li>

            {% endif %}
            {% endfor %}
            <li>
                <br>
                <input type="text" name="textitem">
                <button type="submit" name="add" value="add" class="btn btn-primary">+</button>
                <button type="submit" name="save" value="save" class="btn btn-outline-success"> ✓ </button>
            </li>
        </ul>

    </form>
</div>
{% endblock %}